$color-white: #FFFFFF;

$color-light-grey: #F5F2F2;
$color-dark-grey: #383F43;
$color-dark-blue: #2E3940;
$color-burgundy: #CA6A6A;
$color-green: #37A834;
$color-blue: #029AE4;
$color-black: #131212;

$color-branding: #A0627B;
$color-branding-bright: #a14e77;

$button-disabled-text: rgba(160, 98, 123, 0.4);

